.buttonWrap {
  margin-top: 20px;
}

.buttonWrap a {
  margin-right: 20px;
}

.shopContainer {
  display: flex;
  flex-wrap: wrap;
}

.productImage { 
  height: auto;
  width: 200px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.imageWrap {
  display: flex;
}